{% extends "__base__.html" %}
{% load static %}
{% block title %}Builds{% endblock %}
{% block content %}
<table class="table d-flex flex-wrap">

{% for build in builds_list %}
    <tr>
    <th><a href="{{ build.id }}">{{ build.name }}</a></th>
        {% for survivor in build.survivors.all %}
            <td><a href="/survivors/{{ survivor.name }}"> <img src="{% static ""%}images/{{ survivor.image }}" title="{{ survivor.name }}" alt="{{ survivor.name }}" style="width:60px; background-color:#9be895; border:1px solid black"></a></td>
        {% endfor %}
        <tr>
            <tr>
            <th>{{ build.description }}</th>
            {% for item in build.required_items.all %}
                <td><a href="/items/{{ item.name }}"> <img src="{% static ""%}images/{{ item.image }}" title="{{ item.name }} || REQUIRED" alt="{{ item.name }}" style="width:80px; background-color:#ffffff; border:3px solid #08a615"></a></td>
            {% endfor %}
            {% for item in build.recommended_items.all %}
                <td><a href="/items/{{ item.name }}"> <img src="{% static ""%}images/{{ item.image }}" title="{{ item.name }} || RECOMMENDED" alt="{{ item.name }}" style="width:80px; background-color:#ffffff; border:3px solid #de8007"></a></td>
            {% endfor %}
            {% for item in build.always_avoid_items.all %}
                <td><a href="/items/{{ item.name }}"> <img src="{% static ""%}images/{{ item.image }}" title="{{ item.name }} || ALWAYS AVOID" alt="{{ item.name }}" style="width:80px; background-color:#ffffff; border:3px solid #ef2b2b"></a></td>
            {% endfor %}
            </tr>
        </tr>
    </tr>

{% endfor %}

    <tr>
        <td><a href="add"> <img src="{% static ""%}images/add-new.png" title="Add build" alt="Add build" style="width:50px; background-color:#9be895; border:1px solid black"></a> Add new build</td>
    </tr>

</table>
{% endblock content %}